{% import "macros.jinja2" as snipped %}

{{ snipped.quote("For using this plugin, I strongly recommending you to read <a href='https://teachingtechyt.github.io/calibration.html#pid' target='_blank'>teachingtechyt.github.io</a>","", "text-warning") }}