{% import "macros.jinja2" as snipped %}

{{ snipped.subSection("Process description", true) }}
You will have to:
<lu>
    <li>Print a <a href="https://www.thingiverse.com/thing:1278865" target="_blank">test cube</a> with a known size on all three axes X,Y,X;</li>
    <li>Refresh the current values from EEPROM;</li>
    <li>Feed data collected in E-Steps tab and save the results in EEPROM;</li>
</lu>
<br>
{{ snipped.quote("This step is not necessary for many people, but is still worth doing if you are going over the machine in detail. Consider this procedure necessary if your printed parts are clearly over or under
sized.","<a href='https://teachingtechyt.github.io/calibration.html#xyzsteps' target='_blank'>teachingtechyt.github.io</a>", "text-warning") }}
{{ snipped.subSection("X-Y-Z Steps", true) }}
<div class="row-fluid">
    <div data-bind="class: $root.columnLabelCls()">
        <label for="tunningPIDNoCycles" class="pull-right" style="margin-top: 5px; white-space: nowrap;" title="x">
            Current values
        </label>
    </div>
    <div data-bind="class: $root.columnFieldCls()">
        <div class="input-prepend input-append">
            {{ snipped.linkToMarlin("M092", "Marlin website") }}
            <span class="add-on" title="">M92&nbsp;&nbsp;&nbsp;X</span>
            <input type="number" id="" class="input-small numberDisplay" step="0.001" min="0" max="500" title="" data-bind="value: $root.eStepsXYZ.currentSteps.X, enable: false">
            <span class="add-on" title="">&nbsp;&nbsp;&nbsp;Y</span>
            <input type="number" id="" class="input-small numberDisplay" step="0.001" min="0" max="500" title="" data-bind="value: $root.eStepsXYZ.currentSteps.Y, enable: false">
            <span class="add-on" title="">&nbsp;&nbsp;&nbsp;Z</span>
            <input type="number" id="" class="input-small numberDisplay" step="0.001" min="0" max="3000" title="" data-bind="value: $root.eStepsXYZ.currentSteps.Z, enable: false">
            <button class="btn"
                data-bind="click: $root.loadESteps, enable: $root.loginStateViewModel.isAdmin() && $root.loadEStepsActive() && $root.controlViewModel.isOperational() && (!$root.controlViewModel.isPrinting())"
                title="Loads current value from EEPROM by calling M92">
                <i class="fas fa-sync-alt" style="color:false" data-color="false"></i>
            </button>
        </div>
    </div>
</div>
<div class="row-fluid">
    <div data-bind="class: $root.columnLabelCls()">
        <label for="tunningPIDNoCycles" class="pull-right" style="margin-top: 5px; white-space: nowrap;" title="">
            GCode sizes
        </label>
    </div>
    <div data-bind="class: $root.columnFieldCls()">
        <div class="input-prepend input-append">
            <span class="add-on" title="">X</span>
            <input type="number" id="" class="input-small numberDisplay" step="0.001" min="0" max="500" title="" data-bind="value: $root.eStepsXYZ.gCodeCubeSize.X">
            <span class="add-on" title="">&nbsp;&nbsp;&nbsp;Y</span>
            <input type="number" id="" class="input-small numberDisplay" step="0.001" min="0" max="500" title="" data-bind="value: $root.eStepsXYZ.gCodeCubeSize.Y">
            <span class="add-on" title="">&nbsp;&nbsp;&nbsp;Z</span>
            <input type="number" id="" class="input-small numberDisplay" step="0.001" min="0" max="3000" title="" data-bind="value: $root.eStepsXYZ.gCodeCubeSize.Z">
            <span class="add-on" title="">&nbsp;&nbsp;&nbsp;mm</span>
        </div>
    </div>
</div>
<div class="row-fluid">
    <div data-bind="class: $root.columnLabelCls()">
        <label for="tunningPIDNoCycles" class="pull-right" style="margin-top: 5px; white-space: nowrap;" title="">
            Printed sizes
        </label>
    </div>
    <div data-bind="class: $root.columnFieldCls()">
        <div class="input-prepend input-append">
            <span class="add-on" title="">X</span>
            <input type="number" id="" class="input-small numberDisplay" step="0.001" min="0" max="500" title="" data-bind="value: $root.eStepsXYZ.printedCubeSize.X">
            <span class="add-on" title="">&nbsp;&nbsp;&nbsp;Y</span>
            <input type="number" id="" class="input-small numberDisplay" step="0.001" min="0" max="500" title="" data-bind="value: $root.eStepsXYZ.printedCubeSize.Y">
            <span class="add-on" title="">&nbsp;&nbsp;&nbsp;Z</span>
            <input type="number" id="" class="input-small numberDisplay" step="0.001" min="0" max="3000" title="" data-bind="value: $root.eStepsXYZ.printedCubeSize.Z">
            <span class="add-on" title="">&nbsp;&nbsp;&nbsp;mm</span>
        </div>
    </div>
</div>
<div class="row-fluid">
    <div data-bind="class: $root.columnLabelCls()">
        <label for="tunningPIDNoCycles" class="pull-right" style="margin-top: 5px; white-space: nowrap;" title="">
            New values
        </label>
    </div>
    <div data-bind="class: $root.columnFieldCls()">
        <div class="input-prepend input-append">
            {{ snipped.linkToMarlin("M092", "Marlin website") }}
            <span class="add-on" title="">M92&nbsp;&nbsp;&nbsp;X</span>
            <input type="number" id="" class="input-small numberDisplay" step="0.001" min="0" max="500" title="" data-bind="value: $root.eStepsXYZ.newSteps.X()">
            <span class="add-on" title="">&nbsp;&nbsp;&nbsp;Y</span>
            <input type="number" id="" class="input-small numberDisplay" step="0.001" min="0" max="500" title="" data-bind="value: $root.eStepsXYZ.newSteps.Y">
            <span class="add-on" title="">&nbsp;&nbsp;&nbsp;Z</span>
            <input type="number" id="" class="input-small numberDisplay" step="0.001" min="0" max="3000" title="" data-bind="value: $root.eStepsXYZ.newSteps.Z">
            {{ snipped.m500Icon() }}
        </div>
    </div>
</div>
<div class="row-fluid" style="margin-bottom: 5px;">
    <div data-bind="class: $root.columnLabelCls()"></div>
    <div data-bind="class: $root.columnFieldCls()">
        <button class="btn btn-success"
            data-bind="click: $root.saveEStepsXYZ, enable: $root.loginStateViewModel.isAdmin() && $root.saveEStepsXYZActive() && $root.controlViewModel.isOperational() && (!$root.controlViewModel.isPrinting())"
            title="This will save new values to EEPROM (M92 Xx Yx Zx; M500)">
            <i class="fas fa-save" style="color:false" data-color="false"></i>&nbsp&nbsp
            Save to EEPROM
        </button>
    </div>
</div>