
<div class="tab-content">
    <div id="calibration_documentation" class="tab-pane active">
        {% include "tabs/tab-doc.jinja2" %}
    </div>
    <div id="calibration_x-y-z" visible="false" class="tab-pane">
        {% include "tabs/tab-xyz.jinja2" %}
    </div>
    <div id="calibration_eSteps" visible="false" class="tab-pane">
        {% include "tabs/tab-esteps.jinja2" %}
    </div>
    <div id="calibration_pid" visible="false" class="tab-pane">
        {% include "tabs/tab-pind.jinja2" %}
    </div>
</div>