<div class="container">
    <h3>Something in settings</h3>
    <div class="row"><span class="title col">Actual extrusion:         </span> <span class="val col" data-bind="text: $root.results.actualExtrusion"></span></div>
    <div class="row"><span class="title col">New steps value:          </span> <span class="val col" data-bind="text: $root.results.newSteps"> </span></div>
    <div class="row"><span class="title col">Extrusion marking length: </span> <input class="val col" type="number"  step="0.01" class="numberInputField" data-bind="value: $root.results.markLength" ></div>
    <div class="row"><span class="title col">Measured value:           </span> <input class="val col" type="number"  step="0.01" class="numberInputField" data-bind="value: $root.results.remainedLength" ></div>
</div>