{% import "macros.jinja2" as snipped %}
{{ snipped.subSection("E-Steps default settings", true) }}
<div class="row-fluid">
    <div class="span6"><label class="checkbox pull-right" style="margin-top: 5px;" for="userControlsTemp">Let me to control temperature</label></div>
    <div class="span6"><input id="userControlsTemp" type="checkbox" data-bind="checked: settings.plugins.CalibrationTools.eSteps.userControlsTemp"></div>
</div>
<div class="row-fluid">
    <div class="span6"><label class="checkbox pull-right" style="margin-top: 5px;" for="turnOffHeater">Cooldown extruder when saving to EEPROM</label></div>
    <div class="span6"><input id="turnOffHeater" type="checkbox" data-bind="checked: settings.plugins.CalibrationTools.eSteps.turnOffHeater"></div>
</div>

{{ snipped.field("Extrusion temperature", "The temperature used to extrude in testing&#013;Is better to be a bit higher then usual for reducing the nuzzle pressure",
"number", "settings.plugins.CalibrationTools.eSteps.extrudeTemp", "true", "&ordmC", 1) }}

{{ snipped.field("Filament extrusion length", "The length of filament to be extruded in testing",
"number", "settings.plugins.CalibrationTools.eSteps.extrudeLength", "true", "mm", 1) }}

{{ snipped.field("Filament extrusion speed", "How fast the filament should be extruded in test&#013;A lower value is recommended for avoiding skipping steps",
"number", "settings.plugins.CalibrationTools.eSteps.extrudeSpeed", "true", "mm/s", 1) }}

{{ snipped.field("Filament mark length", "The length marked on filament",
"number", "settings.plugins.CalibrationTools.eSteps.markLength", "true", "mm") }}

{{ snipped.subSection("X-Y-Z-Steps", true) }}

{{ snipped.subSection("PID", true) }}