{% macro subSection(title, spaceBefore) %}
{% if (spaceBefore) %} <br><br> {% endif %}
<strong>{{ _(title) }}</strong>
<hr>
{% endmacro %}


{% macro card(content, class) %}
<div class="card">
    <p class="{{ class }}">{{ _(content) }}</p>
</div>
{% endmacro %}

{% macro quote(content, cite, class) %}
<blockquote>
    <p class="{{ class }}">{{ _(content) }}</p>
    <small>{{ cite }}</small>
</blockquote>
{% endmacro %}

{% macro field(label, title, type, binding, enable, unit, step, min, max) %}
{% set step = step|default('0.01') %}
{% set min = min|default("") %}
{% set max = max|default("") %}
<div class="row-fluid">
    <div class="span6">
        <label for="{{ label }}" class="pull-right" style="margin-top: 5px;" title="{{ title }}">
            {{ _(label) }}
        </label>
    </div>
    <div class="span6">
        <div class="input-append">
            <input type="{{ type }}" id="{{ label }}" title="{{ title }}" class="input-small" step="{{ step }}" min="{{ min }}" max="{{ max }}" data-bind="value: {{ binding }}, enable: {{ enable }}">
            <span class="add-on" title="{{ title }}">{{ _(unit) }}</span>
        </div>
    </div>
</div>
{% endmacro %}


{% macro labelField(label, title, type, binding, enable, unit, step, min, max) %}
{% set step = step|default('0.01') %}
{% set min = min|default("") %}
{% set max = max|default("") %}
<div class="row-fluid">
    <div class="span6">
        <label for="{{ label }}" class="pull-right" style="margin-top: 5px;" title="{{ title }}">
            {{ _(label) }}
        </label>
    </div>
    <div class="span6">
        <div class="input-append input-prepend">
            <span class="add-on" title="{{ title }}">{{ _(label) }}</span>
            <input type="{{ type }}" id="{{ label }}" title="{{ title }}" class="input-small" step="{{ step }}" min="{{ min }}" max="{{ max }}" data-bind="value: {{ binding }}, enable: {{ enable }}">
            <span class="add-on" title="{{ title }}">{{ _(unit) }}</span>
        </div>
    </div>
</div>
{% endmacro %}